<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<!-- map server with simul map
	<arg name="map_file" default="$(find multi_rosbot_nav)/maps/bj01/map.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" respawn="false" />
        -->
    
    <!-- ROSBOT1 -->
	<group ns="rosbot1">
		<param name="tf_prefix" value="rosbot1" />

        <node pkg="rplidar_ros" type="rplidarNode" name="rplidar">
            <param name="tf_prefix" value="rosbot1" />
            <param name="angle_compensate" type="bool" value="true"/>
            <param name="frame_id" type="string" value="/rosbot1/laser"/>
            <param name="serial_baudrate" type="int" value="256000"/>
        </node>

        <!--replace rosbot_ekf/launch/all.launch-->
        <include file="$(find rosbot_ekf)/launch/rosserial_bridge.launch">
            <arg name="serial_port" value="/dev/ttyS4"/>
            <arg name="serial_baudrate" value="460800"/>
        </include>

        <include file="$(find rosbot_ekf)/launch/message_conversion.launch"/>

        <!--<include file="$(find rosbot_ekf)/launch/rosbot_ekf.launch"/>-->
        <node pkg="robot_localization" type="ekf_localization_node" name="rosbot_ekf" clear_params="true">
            <rosparam command="load" file="$(find rosbot_ekf)/params/ekf_params.yaml" />
            <param name="base_link_frame" value="base_link"/>
            <param name="odom_frame" value="odom"/>
            <param name="world_frame" value="odom"/>

            <!--  Placeholder for output topic remapping -->
            <remap from="odometry/filtered" to="/rosbot1/odom"/>
            <!-- <remap from="accel/filtered" to=""/> -->
        </node>

        <!--<node pkg="tf" type="static_transform_publisher" name="imu_publisher" args="0 0 0.02 0 0 0 rosbot1/base_link rosbot1/imu_link 100" />-->

	<node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0 0 0 3.14 0 0 rosbot1/base_link rosbot1/laser 100" />
	</group>

    <!--<include file="$(find multi_rosbot_nav)/launch/move_base_rosbot1.launch" />-->
    <include file="$(find multi_rosbot_nav)/launch/amcl_only_rosbot1.launch" />
</launch>
